
.betaal-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
        display: block;
        text-align: center;
    }
     
     .betaal {
         background-color: burlywood;
          .betaal-list {
          display: flex;
      }
      .betaal-list {
          list-style-type: none;
      }
      .betaal-lis img {
          
            height: 2rem;
            width: 2rem;
      }
     }
     
        
}