
.categorie {
    display: flex;
    justify-content: center;
    
    .categorie--list {
        background-color:brown;
        .categorie--link {
            display: grid;
            justify-items: center;
            list-style-type: none;
            margin: 1rem;
        }
        .categorie--img {
           border-radius: 0.5rem;
        }
        .categorie--link a {
            font-size: 1.3rem;
            text-decoration: none;
            margin: 0.2rem;
            color: black;
        }
        .categorie--link:hover{
           background-color: blue;
            color: rgb(148, 65, 65);
        }
    }
}